* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(150, 148, 148);
}

.fecha {
    font-family: 'arial';
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 20px;
    padding-top: 15px;
    color: silver;
}

/* QUITAR FLECHAS POR DEFECTO DE INPUT NUMERICO EN CHROME & SAFARI */
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

/* QUITAR FLECHAS POR DEFECTO DE INPUT NUMERICO EN FIREFOX */
input[type=number] {
    -moz-appearance: textfield;
}

/*=================== DASHBOARD =========================*/

.dashboard {
    min-height: 91vh;
    width: left;
    padding: 10px 24px;
    left: 250px;
    margin-left: 250px;
}

.loading {
    text-align: center;
    padding-top: 15%;
}

/* ====================================================== */

/* ======= CSS FORM CLIENTES ======= */

.form_register_client {
    width: 600px;
    /* height: 150px; */
    margin-top: 5px;
}

.user_new {
    color: black;
    text-align: center;
    margin-top: 8px;
}

.obligaciones_new {
    color: black;
    text-align: center;
    margin-top: 10px;
}

.form_client {
    background: rgba(192, 192, 192, 0.377);
    padding: 20px 20px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
}

/* ============================================ */

/* =========== LIST & FORM CLIENT ============ */

.scrollable-container-client {
    max-height: 400px;
    /* Ajusta esta altura según tus necesidades */
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 2px;
    background-color: rgba(192, 192, 192, 0.377);
    border-radius: 5px;
}

.container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

table {
    border-collapse: collapse;
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
}

table th {
    text-align: left;
    padding: 10px;
    background: #3d7ba881;
    color: black;
}

table tr:nth-child(odd) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

table td {
    padding: 10px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.client_list_box {
    flex: 1;
    max-width: 600px;
    width: 100%;
    overflow-y: auto;
    /* Hace que la lista sea scrollable verticalmente */
    margin-left: auto;
    /* Alinea la lista a la derecha */
}

.form_search {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.form_search .input_search {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form_search .btn_search {
    padding: 8px;
    margin-left: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.btn_obli {
    padding: 2px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn_option {
    width: 30%;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px 10px 0px 5px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.colur1 {
    background-color: rgb(53, 127, 238);
    color: white;
    border: none;
}

.colur2 {
    background-color: red;
    color: white;
    border: none;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .form_register_client,
    .client_list_box {
        max-width: 100%;
        margin-left: 0;
    }
}

/* ============================================ */

/* =========== BUSCADOR ============ */

.btn_search {
    background: #73737a;
    color: white;
    padding: 10px 25px;
    border: 0;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

.input_search {
    width: 75%;
    font-size: 11pt;
    padding: 8px;
    border: 1px solid #85929e;
    border-radius: 5px;
    background: silver;
    margin: 5px 0px 10px 0px;
}

/* ================================= */

/* =========== LABEL'S FORM CLIENT ============ */

.lb_client_1 {
    /* display: block; */
    font-size: 10pt;
    font-family: 'GothamBook';
    margin: 0px 20px 5px 0px;
}

.lb_client_2 {
    /* display: block; */
    font-size: 10pt;
    font-family: 'GothamBook';
    margin: 0px 0px 5px 20px;
}

.lb_client_3 {
    /* display: block; */
    font-size: 10pt;
    font-family: 'GothamBook';
    margin: 0px 0px 5px 35px;
}

.lb_client_4 {
    /* display: block; */
    font-size: 10pt;
    font-family: 'GothamBook';
    margin: 0px 0px 5px 120px;
}

.lb_client_5 {
    /* display: block; */
    font-size: 10pt;
    font-family: 'GothamBook';
    margin: 0px 0px 5px 0px;
}

.lb_client_6 {
    /* display: block; */
    font-size: 10pt;
    font-family: 'GothamBook';
    margin: 0px 0px 5px 110px;
}

.lb_client_7 {
    /* display: block; */
    font-size: 10pt;
    font-family: 'GothamBook';
    margin: 0px 0px 5px 0px;
}

.lb_client_8 {
    /* display: block; */
    font-size: 10pt;
    font-family: 'GothamBook';
    margin: 0px 0px 5px 0px;
}

/* ========================================= */

/* ========= INPUT'S FORM CLIENT ========== */

.in_client_1 {
    /* display: block; */
    width: 100px;
    font-size: 11pt;
    padding: 5px;
    border: 1px solid #85929e;
    border-radius: 5px;
    background: silver;
    text-decoration-style: none;
}

.in_client_2 {
    /* display: block; */
    width: 130PX;
    font-size: 11pt;
    padding: 5px;
    border: 1px solid #85929e;
    border-radius: 5px;
    background: silver;
    margin: 0 0 0 5px;
}

.in_client_3 {
    /* display: block; */
    width: 150px;
    font-size: 11pt;
    padding: 5px;
    border: 1px solid #85929e;
    border-radius: 5px;
    background: silver;
    margin: 0 0 0 5px;
}

.in_client_4 {
    /* display: block; */
    width: 50px;
    font-size: 11pt;
    padding: 5px;
    border: 1px solid #85929e;
    border-radius: 5px;
    background: silver;
    margin: 0px 0px 0px 5px;
}

.in_client_5 {
    /* display: block; */
    width: 45%;
    font-size: 11pt;
    padding: 5px;
    border: 1px solid #85929e;
    border-radius: 5px;
    background: silver;
    margin: 0px 0px 0px 0px;
}

.in_client_6 {
    /* display: block; */
    width: 45%;
    font-size: 11pt;
    padding: 5px;
    border: 1px solid #85929e;
    border-radius: 5px;
    background: silver;
    margin: 0px 0px 0px 0px;
}

.in_client_7 {
    /* display: block; */
    width: 200px;
    font-size: 11pt;
    padding: 5px;
    border: 1px solid #85929e;
    border-radius: 5px;
    background: silver;
    margin: 0xp 0xp 0px 0px;
}

.in_client_8 {
    /* display: block; */
    width: 100%;
    font-size: 11pt;
    padding: 5px;
    border: 1px solid #85929e;
    border-radius: 5px;
    background: silver;
    margin: 0px 0px 0px 0px;
}

/* ======================================================= */

/* ============ BOTONES ===============*/

.notitemone option:first-child {
    display: none;
}

.btn_save {
    font-size: 12pt;
    background: #12a4c6;
    padding: 10px;
    color: #FFF;
    letter-spacing: 1px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px auto;
    display: block;
}

.link_new {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-decoration: unset;
}

.btn_new {
    text-decoration: none;
    font-size: 12pt;
    background: #12a4c6;
    padding: 10px;
    color: #FFF;
    letter-spacing: 1px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px auto;
    display: block;
}

.alerta {
    width: 100%;
    background: rgba(192, 192, 192, 0.377);
    border-radius: 6px;
    margin: 20px auto;
}

.msg_error {
    color: red;
}

.msg_save {
    color: green;
}

.alerta p {
    padding: 10px;
}

/* ====================================================== */

/* ======= CSS FORM USER ======= */

h3 {
    text-align: center;
}

.form_register_user {
    width: 450px;
    margin: auto;
    margin-top: 20px;
}

.form_register_user .user_new {
    color: silver;
    text-align: center;
    margin-top: 8px;
}

.hr {
    border: 0;
    background: #ccc;
    height: 1px;
    margin: 10px 0;
    display: block;
}

.form_user {
    background: rgba(192, 192, 192, 0.377);
    margin: auto;
    padding: 20px 50px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
}

.label,
.lb_user {
    display: block;
    font-size: 12pt;
    font-family: 'GothamBook';
    margin: 15px auto 5px auto;
}

.input,
.in_user,
select {
    display: block;
    width: 100%;
    font-size: 11pt;
    padding: 5px;
    border: 1px solid #85929e;
    border-radius: 5px;
    background: silver;
    margin: 5px 0px 10px 0px;
}

.comentario {
    width: 100%;
    height: 150px;
    resize: vertical;
    /* Permite al usuario cambiar el tamaño verticalmente */
}

.notitemone option:first-child {
    display: none;
}

.btn_save {
    font-size: 12pt;
    background: #12a4c6;
    padding: 10px;
    color: #FFF;
    letter-spacing: 1px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px auto;
    display: block;
}

.alerta {
    width: 100%;
    background: rgba(192, 192, 192, 0.377);
    border-radius: 6px;
    margin: 20px auto;
}

.msg_error {
    color: red;
}

.msg_save {
    color: green;
}

.alerta p {
    padding: 10px;
}

/* ====================================================== */

/* ========= CONFIGURACION ========= */

h3 {
    text-align: center;
    margin-bottom: 5px;
}

.conatinerDataEmpresa {
    width: 450px;
    margin: auto;
    margin-top: 20px;
}

.logoEmpresa {
    display: webkit-flex;
    display: mOZ-flex;
    display: -mS-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 10px auto;
    padding: 15px;
    background: #E9E9E9;
}

.logoEmpresa img {
    width: 100%;
    height: 100%;
}

/* ====================================================== */

/* LISTADO CSS */

header {
    background-color: #333;
    color: white;
    padding: 2px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header button {
    margin: 10px;
    padding: 5px 10px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
}

header button:hover {
    background-color: #777;
}

main {
    padding: 20px;
}

.scrollable-container {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.664);
    border-radius: 5px;
}

/* === CLIENT VISIT LIST CSS */

.client-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.client-item {
    background-color: rgba(255, 255, 255, 0.664);
    margin-bottom: 1px;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-item h2 {
    margin-top: 0;
}

.client-item p {
    margin: 5px 0;
}

.client-item button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.client-item button a {
    color: white;
    text-decoration: none;
}

.client-item button:hover {
    background-color: #0056b3;
}

.edit-button {
    text-align: right;
}

.edit-button button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.edit-button button a {
    color: white;
    text-decoration: none;
}

.edit-button button:hover {
    background-color: #0056b3;
}


/*===== USER LIST CSS */

.user-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-item {
    background-color: rgba(255, 255, 255, 0.664);
    margin-bottom: 1rem;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-item h2 {
    margin-top: 0;
}

.user-item p {
    margin: 0.5rem 0;
}

.user-actions {
    display: flex;
    gap: 10px;
}

.btn_edit,
.btn_delete {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn_edit {
    background-color: #4CAF50;
    color: white;
    text-decoration: unset;
}

.btn_delete {
    background-color: #f44336;
    color: white;
}


/*=========== CSS OBLIGACIONES ==========*/

/* Estilos para el formulario emergente (modal) */
.modal {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    /* Fijo en la pantalla */
    z-index: 1;
    /* Colocado encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Alto completo */
    overflow: auto;
    /* Permite desplazamiento si el contenido es grande */
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro semi-transparente */
}

/* Estilos para el contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% desde arriba y centrado horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Puede ajustar el ancho según sea necesario */
    max-width: 600px;
    /* Máximo ancho */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: relative;
}

/* Estilos para el botón de cerrar (X) */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*================ CLIENT CSS REGISTER ===================*/

.container {
    display: flex;
    justify-content: space-between;
}

.left_side {
    width: 40%;
}

.right_side {
    width: 40%;
}

.form_register_client,
.client_list_box {
    padding: 20px;
    border-radius: 5px;
}

.table th,
.table td {
    padding: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}